body{
	font-family: Arial;
	font-size: 13px;
}

header{
	display: block;
	position: relative;
	background-color: #00cc99;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0px;
	background-color: #f3f3f3;
}

li {
	float: left;
}

li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #ddd;
}

li a.active {
	color: white;
	background-color: #4CAF50;
}

nav {
	margin-bottom: 10px;
}

table {
	margin-top: 10px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

.err {
	color: red;
}

.loginErr {
	position: fixed;
	margin-top: 10px;
}

.displayMsg {
	display: inline-block;
	visibility: hidden;
	font-weight: bold;
	margin-top: 10px;
}

.title{
	font-size: 40px;
	color: #FFFFFF;
	position: absolute;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.welcomeText{
	font-size: 15px;
	color: #FFFF23;
	position: absolute;
	right: 20px;
	padding-top: 10px;
}


/* ===================== Wordlist styles - START ===================== */

/* newWordlistForm.php - START */

.wordlistTitle {
	margin-right: 10px;
}

/* newWordlistForm.php - END */

/* wordlistForm.php - START */

.wordlistBtnCtrls {
	margin-top: 20px;
	padding: 0;
}

.wordlistBtnCtrls button {
	margin-right: 20px;
	height: 30px;
}

#wordlistViewTbl .updateBtn {
	width: 100px;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* wordlistForm.php - END */


/* wordlistView.php - START */

#wordlistViewTbl .updateWordlistNameBtn {
	display: block;
	margin: auto;
	height: 50px;
	width: 80px;
}

/* wordlistView.php - END */

/* ===================== Wordlist styles - END ===================== */


/* ===================== Word styles - START ===================== */

/* newWordForm.php - START */

.wordTitle {
	margin-right: 10px;
}

.belongToWordlist {
	margin-left: 10px;
	margin-right: 10px;
}

.wordlistCb {
	width: 200px;
}

.wordClassSpan {
	margin-top: 10px;
	margin-right: 10px;
}

.wordClassCb {
	width: 100px;
	margin-top: 10px;
}

.pronunciationSpan {
	margin-left: 10px;
	margin-right: 10px;
}

.meaningSpan {
	margin-right: 10px;
}

.meaningTextArea {
	margin-left: 7px;
	vertical-align: top;
}

.exampleTextArea {
	margin-left: 7px;
	vertical-align: top;
}

td.exampleTd .exampleTextArea {
	margin-left: 7px;
	margin-right: 7px;
	vertical-align: top;
}

.addNewWordBtn {
	width:200px;
	height: 60px;
	margin-left: 15px;
	margin-top: 15px;
}

/* newWordForm.php - END */


/* wordForm.php - START */

.wordBtnCtrls {
	margin-top: 20px;
	padding: 0;
}

.hiddenWordlistCbCls {
	width: 200px;
	display: none
}

#wordViewTbl .updateBtn {
	width: 100px;
	text-align: center;
	margin: 0;
	padding: 0;
}

tr.dynRowWord {
    text-align: left;
    height: 70px;
}

/* wordForm.php - END */


/* wordView.php - START */

#wordViewTbl .updateWordBtn {
	display: block;
	margin: auto;
	height: 50px;
	width: 80px;
}

.exampleEntry {
	padding-left: 5px;
}

.exampleBtn {
	position: relative;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 50px;
}

.exampleBtnlDiv {
	position: absolute;
	margin: auto;
}

td.exampleTd
{
	padding: 0;
}

.transEffect {
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-ms-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
}

.transEffectHover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.word, .pronunciation, .partOfSpeech {
	width: 150px;
}

.wordlist, .meaning, .example {
	width: 300px;
}

/* wordView.php - END */

/* ===================== Word styles - END ===================== */


/* ===================== Test styles - START ===================== */

/* testForm.php - START */

.toggleTestForm {
	position: relative; 
	display: none; 
	margin: auto; 
	margin-top: 10px;
	width: 100%; 
	font-size: 20px;
	text-align: center;
}

.testForm button {
	width:200px;
	height: 40px;
	margin-left: 15px;
	margin-top: 20px;
}

.testForm .resultSpan {
	position: relative;
	display:inline-block;
	visibility: hidden;
	margin: auto;
	width: 100%;
	font-size: 30px;
	margin-top: 40px;
}

.testForm .pronunciationSpan {
	position: relative;
	display:inline-block;
	visibility: hidden;
}

.testForm .exampleDiv {
	position: relative;
	display:inline-block;
	margin: auto;
	width: 100%;
	padding-left: 30%;
	visibility: hidden;
	font-size: 20px;
	margin-top: 20px;
	text-align: left;
}

.testForm .exampleP {
	margin-left: 30px;
	margin-top: 10px;
}

.noselect {
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE/Edge */
	-webkit-touch-callout: none;
	/* iOS Safari */
}

.testOptions {
	margin-top: 30px;
	font-size: 15px;
	height: 10px;
}

.meaningDescription {
	margin-top: 30px;
}

.meaningDescription .wordClassSpan {
	font-style: normal;
	color: green;
}

.meaningLabel {
	margin-right: 10px;
}

.inputWord {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	height: 50px; 
	font-size: 26px;
	font-style: italic;
}

.testPage #msgDiv {
	position: relative;
	display: none;
	margin: auto; 
	margin-top: 80px;
	width: 100%;
	font-size: 30px;
	text-align: center;
}

.testBtn {
	display: block;
	margin:auto;
	width: 400px;
	height: 100px;
	margin-top: 200px
}

/* Test form - END */

/* testForm.php - END */

/* ===================== Test styles - END ===================== */